{% extends 'base_templates/base_template.html' %}
{% block page_title %}
Manage Modules
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">


        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Modules Details</h3>
                <div class="card-tools">
                  <form class = "d-flex" method="post" action="{% url 'search_seance' %}">
                    {% csrf_token %}
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control float-right" placeholder="Search Seances By Salle">
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Id seance</th>
                      <th>Heure debut </th>
                      <th>Heure Fin</th>
                      <th>Numero de salle</th>
                      <th>Etat Seance</th>
                      <th>Type Seance</th>
                      <th>Outis</th>
                      <th>Module</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for seance in seances %}
                    <tr>
                      <td>{{ seance.id_seance}}</td>
                      <td>{{ seance.heure_debut }}</td>
                      <td>{{ seance.heure_fin }}</td>
                      <td>{{ seance.num_salle }}</td>
                      <td>{{ seance.etat_seance }}</td>
                      <td>{{ seance.type_seance }}</td>
                      <td>{{ seance.outils }}</td>
                      <td>{{ seance.idModule.nom_module }}</td>
                      <td><a href="{% url 'edit_seance' seance_id=seance.id_seance %}" class="btn btn-success">Edit</a>
                         <a href="{% url 'delete_seance' seance_id=seance.id_seance %}" class="btn btn-danger">Delete</a>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}